body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    background-color: #fff;
    position: relative;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    margin-top: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    font-family: inherit;
    line-height: inherit;
    color: currentColor;
}
input,
textarea {
    font-family: inherit;
    line-height: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container { 
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }
    
/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo-header {
    padding: 24px 0;
    margin-right: 76px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo .partlogo {
    color: #2e2f42;
}
.list-header {
    display: flex;
    align-items: center;
    gap: 40px;
}
.link-header.forunderline {
    position: relative;
    color: #404bbf;
}
.link-header.forunderline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.link-header {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-header:hover,
.link-header:focus {
    color: #404bbf;
}
.address-container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.infoadderess {
    margin-left: auto;
    font-style: normal;
}
.link-address {
    display: block;
    padding: 24px 0;
    color: currentColor;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address:hover, 
.link-address:focus {
    color: #404bbf;
}

/* #endregion header */

/* #region order service */
.hero-image {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/decorative/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
}
.h-main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 51px;
    text-align: center;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}
.butt-on {
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    border: 0;
    border-radius: 4px;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butt-on:hover, 
.butt-on:focus {
    background-color: #404BBF;
}
/* #endregion order service */

/* #region strategy */

.page-strategy {
    padding-top: 120px;
    padding-bottom: 120px;
}
.strategy-container {
    display: flex;
    gap: 24px;
}
.li-items-strategy {
    width: calc((100% - 24px * 3) / 4);
}
.foricon-strategy {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.strategy-container .third-h {
    margin-bottom: 8px;
}
.third-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p-strategy {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion strategy */

/* #region team */
.team-container {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f4f4fd;
}
.team-container .second-h {
    text-align: center;
    margin-bottom: 72px;
}
.second-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.list-team {
    display: flex;
    gap: 24px;
    align-items: center;
}
.li-items-team {
    width: calc((100% - 24px * 3)/ 4);
    text-align: center;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.card-team {
    padding: 32px 0;
}
.team-container .third-h {
    margin-bottom: 8px;
}
.team-container .main-parag {
    margin-bottom: 8px;
}
.listforicon-team {
    display: flex;
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
}
.li-icon-team {
    width: 40px; 
    height: 40px;
}
.icon-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.icon-team:hover, .icon-team:focus {
    background-color: #404bbf;
}
.socicons {
    fill: #F4F4FD;
}
/* #endregion team */

/* #region portfolio */
.portfolio-container {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-container .second-h {
    margin-bottom: 72px;
}
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.li-items-portfolio {
    max-width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-items-portfolio:hover, .li-items-portfolio:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.img-part {
    position: relative;
    overflow: hidden;
}
.overcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
}
.li-items-portfolio:hover .overcase, 
.li-items-portfolio:focus .overcase {
    transform: translateY(0);
}
.portfolio-card {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.portfolio-container .third-h {
    margin-bottom: 8px;
}
/* #endregion portfolio */

/* #region footer */
.foo-ter {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-footer {
    display: flex;
    align-items: baseline;
}
.listforicon-team.list-gap {
    gap: 16px;
    margin-left: 0;
    justify-content: flex-start;
}
.list-footer {
    margin-right: 120px;
}
.foot-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.partlogo-footer {
    color: #f4f4fd;
}
.parag {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.last-p {
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
}
.foo-ter .icon-team:hover, .foo-ter .icon-team:focus {
    background-color: #31d0aa;
}
.last-div-foot {
    margin-left: auto;
}
.form-foot-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.input-foot {
    border: 1px solid #fff;
    outline: none;
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: transparent;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-foot:focus {
    border-color: #31d0aa;
}
.input-foot::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.butt-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: 0;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}
.butt-sub:hover, 
.butt-sub:focus {
    background-color: #31d0aa;
}
.icon-sub {
    margin-left: 16px;
}
/* #endregion footer */

/* #region modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    display: flex;
    flex-direction: column;
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.close-butt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    right: 24px;
    top: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}
.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-butt:hover, .close-butt:focus {
    background-color: #404bbf;
    border: 0;
    fill: #fff;
}
.form-title {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.modal-div {
    margin-bottom: 8px;
}
.modal-form {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 360px;
    min-height: 336px;
}
.form-label {
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.div-input {
    position: relative;
}
.form-input {
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    width: 100%;
    min-height: 40px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalicons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: #4d5ae5
}
.form-input:focus + .modalicons {
    fill: #4d5ae5
}
.privacy-policy {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.form-textarea {
    display: block;
    resize: none;
    min-height: 120px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
    border-color: #4d5ae5;
}
.form-textarea::placeholder {
    margin-left: 0;
    color: currentColor;

}
.modalarea {
    margin-bottom: 16px;
}
.form-checkbox {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.checkdiv {
    margin-bottom: 24px;
}
.check-input {
    visibility: hidden;
}
.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + .form-checkbox > .custom-checkbox {
    background-color: #404bbf;
    border: transparent;
    fill: #F4F4FD;
}
.form-button {
    display: block;
    min-width: 169px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    border: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover, 
.form-button:focus {
    background-color: #404BBF;
}
/* #endregion modal */